<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="home">
        <h1>Number of Users</h1>
        <P>Total number of Instagram users are: <%= userNum %></P>
        <a href="/users">Click to see list</a>
</div>
    <script src="script.js"></script>
</body>
</html>
